h1 {
    letter-spacing: 8px;
    color: black;
    
}

p {
    color: black;
}

.navbar-brand {
    color: black;
}

hr {
    color: black;
}

body {
    background: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/HKO9ymTsej0hwltd9/videoblocks-abstract-animation-with-straight-lines-in-spatial-space-background-with-moving-stars_bn-jm5caix_thumbnail-full01.png");
}