h1 {
    letter-spacing: 8px;
    color: black;
    
}

p {
    color: black;
}

.navbar-brand {
    color: black;
}

hr {
    color: black;
}

body {
    background: url("https://i.imgur.com/EUQzqtS.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

